.lowerheader {
  height: 70px;
  background: #d6dbe159;
  display: flex;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  margin-right: 15px;
  -ms-overflow-style: none;
  overflow-x: scroll;
}
.lowerheader::-webkit-scrollbar {
  display: none;
}
.lowerheader ul {
  width: 1400px;
  display: flex;
}
.lowerheaderelement {
  width: 150px;
  background: #b0c4de69;
  height: 32px;
  border: 20px;
  border-radius: 22px;
  display: flex;
  margin-right: 15px;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  color: firebrick;
}
